
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row " style="width:400px !important;margin-left:30%;margin-top:10%">    
    
        <div class="col-sm-12 col-sm-offset-4 frame">
            <ul></ul>
            <div>
                <div class="msj-rta macro" style="margin:auto">
                    <div class="text text-r" style="background:whitesmoke !important">
                        <input class="mytext" placeholder="Type a message" />
                    </div>
                </div>
            </div>
        </div>
    <input type="hidden" id="txtUser" value="@ViewBag.User" />
</div>
<script src="~/Scripts/jquery.signalR-2.3.0.js"></script>
<script src="~/signalr/js"></script>
<script src="~/Scripts/ChatBox.js"></script>

