<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/Bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/ChatBox.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.6.4.min.js"></script>       
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
